body {
  background-color: #d63b31;
  color: white;
  font-family: 'Gentium Book Basic', serif;
}

h1 {
  font-size: 40px;
  text-align: center;
}

.container {
  max-width: 1700px;
  border: 5px solid #e5dbd1;
  margin: auto;
  background-image: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

.bookContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px;
  padding: 0px 0px 15px 0px;
  list-style: none;
}

.bookDiv {
  border: 7px solid black;
  margin: 15px auto;
  padding: 20px 20px 20px 20px;
  list-style: none;
  background-color: #e5dbd1;
  text-align: center;
}

.bookDiv :hover {
  background-image: url(https://images.unsplash.com/photo-1546521343-4eb2c01aa44b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
}

ul {
  max-width: 450px;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

li {
  text-align: center;
  list-style: none;
  padding: 5px;
}

.title {
  font-size: 35px;
  color: #d63b31;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.author {
  font-size: 25px;
  color: black;
  padding: 0px 30px;
  margin: 0px;
}

.language,
.pages,
.published,
.stars {
  font-size: 20px;
  color: #8f7565;
}

img {
  width: 250px;
  height: 350px;
}
